@font-face {
    font-family: hk;
    src: url(HKGrotesk-Regular.ttf);
}

p, h1, h2, h3, h4, a{
    font-family: hk !important;
}

.subheading {
    color: rgba(255,255,255,.6);
}

a {
    color: #42dca3;
}