.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

#applyButton {
  color: #25c68a;
}

.round_j {
  border-radius: 50px;
}

.rounded_j {
  border-radius: 50px 0px 0px 50px;
}

.gray_section {
  padding: 45px 45px;
  background-color: #222;
  border-radius: 40px;
  margin: 10px 0px;
}

.green_section {
  padding: 45px 45px;
  background-color: #0de5a8;
  border-radius: 40px;
  margin: 10px 0px;
  color: black;
}

